/* _commons.scss */

#app { // Vue App
    position: relative;
}

#mainContainer { // 주 컨테이너
    container-name: main-container;
    container-type: inline-size;

    margin-block: 1.2rem;

    &:has(#sideBarMain) {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 1.2rem;
    }
}

#contentView { // 컨텐츠 컨테이너
    flex: 1;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.inner-wrapper {
    margin-inline: auto;
    width: min(100% - 1.6rem, 60rem);
}

:where(#logoMain, #logoFooter) {
    position: relative;
    overflow: hidden;
}

.hidden-alt {
    position: absolute;
    inset-block-start: -5000rem;
    opacity: 0;
    pointer-events: none;
}

.remix {
    width: 1.2rem;
    aspect-ratio: 1 / 1;
    fill: currentColor;
}

.user-name-tag {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: .4rem;
    width: fit-content;

    > .user-profile-image {
        width: 1.2rem;
        height: 1.2rem;
        aspect-ratio: 1 / 1;
        border-radius: 25rem;
        overflow: hidden;
        user-select: none;

        > img {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    > .user-name {
        &::after {
            opacity: .75;
            content: ' 님';
        }

        > span {
            font-weight: 700;
        }
    }
}

.page-title {
    font-size: var(--fnt-title-md);
    font-weight: 200;
}

.page-filter-container {
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-block: .8rem;
}

.page-filter-type-label {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: .2rem;
    font-size: var(--fnt-sm);
    opacity: .5;

    > .remix {
        width: .8rem;
    }
}

.page-filter-wrapper {
    display: flex;
    align-items: center;
    gap: .4rem;
    overflow: hidden;
}

#pageFilterSlider {
    flex: 1;
}

.button-filter-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: .8rem;
    height: 1.6rem;
    border: 1px solid rgb(var(--clr-max) / .15);
    border-radius: 25rem;
    background-color: rgb(var(--clr-min));
    font-size: var(--fnt-sm);

    &:hover {
        background-color: rgb(var(--clr-max) / .1);
        box-shadow:
            inset .2rem .2rem .2rem rgb(255 255 255 / .05),
            inset -.1rem -.1rem .1rem rgb(0 0 0 / .05);
    }

    &.active {
        border-color: rgb(var(--clr-min) / .15);
        background-color: rgb(var(--clr-max));
        color: rgb(var(--clr-min));
        font-weight: 700;
        pointer-events: none;
    }
}

.empty-item-list {
    display: grid;
    place-items: center;
    height: 4.8rem;
    opacity: .5;
    user-select: none;
    pointer-events: none;

    > .remix {
        width: 2.4rem;
        opacity: .5;
    }
}

/* 반응형 쿼리 */

@container main-container (max-width: 960px) {

}

@container main-container (max-width: 640px) {

}

/* _commons.scss */