/* _postList.scss */

#postFilter {
    display: flex;
    align-items: center;
    gap: .4rem;
    padding-block: .8rem;

    > label {
        display: flex;
        align-items: center;
        gap: .2rem;
        font-size: var(--fnt-sm);
        opacity: .5;

        > .remix {
            width: .8rem;
        }
    }
}

#totalSearchContainer {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.article-item {
    display: flex;
    gap: .8rem;

    & + & {
        margin-block-start: .8rem;
    }

    &:has(:hover) {
        .article-item-thumbnail {
            scale: 1.2;
            transition: scale 1.5s;
        }

        > .article-item-descriptions {
            background-color: rgb(var(--clr-surface-20));
        }

        .article-item-title {
            text-decoration: underline .1rem solid rgb(var(--clr-theme));
            text-underline-offset: .4rem;
        }
    }
}

.article-item-image-container {
    flex-shrink: 0;
    position: relative;
    width: 9.6rem;
    aspect-ratio: 4 / 3;
    border-radius: .4rem;
    background-color: rgb(var(--clr-if-100));
    overflow: hidden;

    > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    > .remix {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 2.4rem;
        opacity: .25;
        pointer-events: none;
    }
}

.article-item-thumbnail {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.article-item-descriptions {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: .4rem;
    padding: .4rem .8rem;
    border-radius: .4rem;
    overflow: hidden;
}

.article-item-titlebar {
    display: flex;
    align-items: center;
    gap: .2rem;

    > span {
        color: rgb(var(--clr-tint-100) / .5);
        font-size: var(--fnt-md);
        font-weight: 900;
    }
}

.article-item-title {
    max-width: 100%;
    font-size: var(--fnt-xl);
    font-weight: 700;
    line-height: 1.6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.article-item-info {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: var(--fnt-sm);
    opacity: .5;

    > span {
        font-weight: 900;
    }
}

.article-item-text-summary {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-block-start: .2rem;
    height: 3.2rem;
    border-block-start: 1px solid rgb(var(--clr-text) / .25);
    font-size: var(--fnt-sm);
    font-weight: 100;
    line-height: 1rem;
    word-wrap: break-word;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    opacity: .5;
    text-overflow: ellipsis;
    overflow: hidden;

    > a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

/* 반응형 쿼리 */

@container main-container (max-width: 960px) {

}

@container main-container (max-width: 640px) {
    .article-item {
        flex-flow: column nowrap;

        & + & {
            margin-block: 3.6rem;
        }
    }

    .article-item-image-container {
        width: 100%;
        aspect-ratio: 16 / 9;
    }
}

/* _postList.scss */