/* _postList.scss */

#totalSearchContainer {
    display: flex;
    align-items: center;
    gap: .4rem;
}

/* 반응형 쿼리 */

@container main-container (max-width: 640px) {
    #txtTotalSearch {
        width: 8rem;
    }
}

/* _postList.scss */