/* _postWrite.scss */

#frmPostWrite {
    .bot_btn {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 20px;

        .file_box {
            #file {
                display: none;
            }

            .file_upload {
                width: 100px;
                border: 1px solid rgb(var(--clr-theme));
                border-radius: 0.4rem;
                padding: 10px 0;
                text-align: center;
                margin-bottom: 5px;
                transition: all 0.15s;
            }
            .file_upload:hover {
                background-color: rgb(var(--clr-theme));
                color: rgb(var(--clr-text-on-tint));
            }

            span {
                font-size: 10px;
            }
        }

        .upload {
            width: 100px;
            border: 1px solid rgb(var(--clr-theme));
            border-radius: 0.4rem;
            padding: 10px 0;
            text-align: center;
            margin-bottom: 5px;
            transition: all 0.15s;
        }
        .upload:hover {
            background-color: rgb(var(--clr-theme));
            color: rgb(var(--clr-text-on-tint));
        }
    }

    .preview {
        display: flex;
        align-items: center;
        margin-top: 20px;

        img {
            width: 150px;
            height: 150px;
            margin-right: 10px;
        }
    }
}

#writeUpperArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write-form-inputs {
    padding-inline: .4rem;
    height: 2.4rem;
    border-block-end: .1rem solid rgb(var(--clr-text) / .25);
    background-color: rgb(var(--clr-background));
    color: inherit;
    transition: background-color .25s;

    &:focus {
        border-color: rgb(var(--clr-text));
    }
}

#slctCategory {
    width: 8rem;
}

#txtArticleTitle {
    width: 100%;
    font-size: var(--fnt-title-sm);
}

#txtArticleContent {
    padding: .8rem .4rem;
    width: 100%;
    height: auto;
    min-height: 16rem;
    border: 0;
    border-block-end: .1rem solid rgb(var(--clr-text) / .25);
    background-color: rgb(var(--clr-background));
    outline: none;
    color: inherit;
    line-height: 1.4;
    transition: background-color .25s;
    resize: vertical;

    &:focus {
        border-color: rgb(var(--clr-text));
    }
}

#writeLowerArea {

}

#filePostImages {
    display: none;
}

/* _postWrite.scss */
